:root {
    --primary-color: #D91F1C;
    --secondary-color: #F5F5DC;
    --primary-dark-color: #211E12;
    --primary-light-color: #F5F5F5;
    --primary-text-color: #D91F1C;
    --secondary-text-color: #757575;
    --divider-color: #BDBDBD;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --border-radius: 4px;
    --transition: 0.3s;
}

body {
    font-family: "Atkinson Hyperlegible Next", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.primary-bg {
    background-color: var(--primary-color);
}

.secondary-bg {
    background-color: var(--secondary-color);
}

.primary-bg-dark {
    background-color: var(--primary-dark-color);
}

.primary-bg-light {
    background-color: var(--primary-light-color);
}

.primary-text-color {
    color: var(--primary-text-color);
}